{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home Ethereum Dashboard</title>
    <link rel="stylesheet" href="{% static 'client/css/dash.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.8.0/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Smart Home Transactions Dashboard - ETHAccra Hackathon 2024 🇬🇭 </h1>
            <button id="connect-metamask">Connect MetaMask</button>
            <p style="background-color: rgb(36, 36, 36); padding: 10px; border-radius: 20px; width: fit-content;" id="wallet-status">Not connected</p>
            <a href="/">Back to Control Panel</a>
        </div>
    </header>
    <div class="container">
        <section class="main-data">
            <div id="bills-generated" class="data-table">
                <p>Loading bills generated...</p>
            </div>
        </section>
    </div>
    <div class="container">
        <!-- Bills Generated Section -->
        

        <!-- Bills Paid Section -->
        <section class="dashboard-section">
            <div class="section-header">
                <h2>Bills Paid</h2>
                <i class="fas fa-info-circle" title="Displays the latest bills that have been paid"></i>
            </div>
            <div id="bills-paid" class="data-table">
                <p>Loading bills paid...</p>
            </div>
        </section>

        <!-- Payment Section -->
        <section class="dashboard-section">
            <div class="section-header">
                <h2>Pay Bills</h2>
                <i class="fas fa-info-circle" title="Pay"></i>
            </div>
            <div id="pay-now" class="data-table">
                <p>Total Amount: 0 ETH</p> <!-- Display total amount -->
                <button id="pay-now-button" disabled>Pay Now</button> <!-- Pay Now button -->
            </div>
        </section>
        

        <!-- Account Overview Section -->
        <section class="dashboard-section">
            <div class="section-header">
                <h2>Account Overview</h2>
                <i class="fas fa-info-circle" title="Overview of connected account details"></i>
            </div>
            <div id="account-overview" class="data-summary">
                <p>Not available at this time</p>
            </div>
        </section>
    </div>

    <script src="{% static 'client/js/app.js' %}"></script>
</body>
</html>
